* {
  margin: 0;
  padding: 0;
}

.main {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1%;
  background-color: wheat;
  min-height: 80vh;
}
nav {
  width: 20%;
}
nav ul li {
  list-style: none;
  padding: 5%;
  background-color: #404040;
  margin-bottom: 1vh;
  border-radius: 0px 20px 20px 0px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  text-transform: capitalize;
}

section {
  width: 77%;
  background-color: whitesmoke;
  padding: 1%;
}

.title {
  padding: 1% 2%;
  background-color: royalblue;
  color: #fff;
}

form {
  display: block;
  padding: 2%;
  display: flex;
  flex-direction: column;
}
input {
  margin: auto;
  width: 50%;
  padding: 1%;
  margin-bottom: 1vh;
}
